/* General reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    max-height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
    font-family: 'Arial', sans-serif;
}

/* Body styling for a dark theme */
body {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Header with title and navigation buttons */
header {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav button {
    background-color: cyan;
    color: #333;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

nav button:hover {
    background-color: white;
    color: #333;
}


/* Main content area with search filters and the song table */
main {
    display: flex; /* Use flexbox to layout children horizontally */
    padding-top: 0; /* Only padding at the top to space below the header */
    overflow: hidden; /* Hide overflow to prevent extra scrollbars */
    
}
  
.filter-option {
    display: flex;
    align-items: center;
  }
  
  .filter-option input[type="radio"] {
    margin-right: 5px; /* Space between radio button and label */
  }

/* Side filter menu */
aside#searchFilter {
    position: fixed; /* Fixed position to make it stay in place while scrolling */
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    background-color: #2a2a2a;
    top: 60px; /* Adjust this value to the height of header */
    bottom: 0; /* Stretch to the bottom of the viewport */
    overflow-y: auto; /* Allows scrolling if content overflows */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

/* Style for the filter title */
#searchFilter h2 {
    margin-bottom: 15px; /* Provide space below the title */
    font-size: 1.2em; /* Adjust font size as needed */
    color: white; /* Title color */
}

/* Hover effect for buttons */
#searchFilter button:hover {
    background-color: white; /* Background color on hover */
    color: #333; /* Text color on hover */
}

/* Ensure radio buttons align with their labels vertically */
#searchFilter input[type="radio"] {
    vertical-align: middle;
}

#searchFilter h3 {
    color: white; /* Color for the title */
    padding-bottom: 10px; /* Space below the title */
}

/* Styling for radio buttons and their labels for better alignment and spacing */
#searchFilter input[type="radio"] + label {
    margin-left: 5px; /* Space out the label from the radio button */
    margin-right: 15px; /* Space after the label before the next radio button */
}

/* Button styling within the filter box */
#searchFilter button {
    padding: 8px 16px; /* Padding inside buttons */
    border: none; /* Remove default border */
    border-radius: 4px; /* Slightly rounded corners for buttons */
    background-color: cyan; /* Background color for buttons */
    color: #333; /* Text color for buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Transition for the hover effect */
}


#searchFilter input[type="text"],
#searchFilter select {
    padding: 8px; /* Padding inside the input fields and selects */
    border-radius: 4px; /* Slightly rounded corners for the inputs */
    border: 1px solid #555; /* Subtle border for inputs */
    background-color: #222; /* Slightly darker background for inputs for contrast */
    color: white; /* Text color for inputs */
}

/* Styling for the form containing the filter elements */
#searchFilter form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the space between form elements */
}

/* Table container */
#songsTable {
    margin-left: 270px; /* Adjust this value to match the width + padding + any margins of the filter box */
    width: calc(100% - 270px);
    overflow-x: auto; /* Allows for a responsive table */
    overflow-y: auto; /* Allows vertical scrolling */
    height: calc(100vh - 60px); /* Adjust to the height of header */
}

/* Table styling */
#songsTable table {
    width: 100%;
    border-collapse: collapse;
}

#songsTable th, #songsTable td {
    padding: 10px;
    border-bottom: 1px solid #555;
    text-align: left;
}

/* Adjust font color for links */
#songsTable a {
    color: white; /* Make links white for better visibility */
    text-decoration: none; /* Optionally remove underline from links */
}

#songsTable a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}

#radarChart{
    width: 560px;  /* Set the desired width */
    height: 560px; /* Set the desired height */
}

#chart-container {
    background-color: white;
}

/* Header styles */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  #playlistView header {
    background-color: transparent; /* Make header background transparent */
    padding-top: 12px
  }

  /* Playlist summary and button container within the header */
  #playlistSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* Style for the table in the playlist view */
  #playlistTable {
    width: 100%; /* Full width */
    border-collapse: collapse;
  }
  
/* Style the "Close View" and "Credits" buttons */
#closeViewButton, #creditsButton, #playlistButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: rgb(183, 89, 255);
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
#closeViewButton:hover, #creditsButton:hover, #playlistButton:hover {
    background-color: #ce99ff; /* Darker shade of cyan for hover effect */
  }

/* Align the Close View button with the Credits button */
#closeViewButton, #playlistButton {
    margin-left: auto; /* Pushes the button to the end of the flex container */
    margin-right: 16px;
  }

  #header button {
    margin-right: 8px; /* Add space to the right of buttons */
}
  
  #playlistTable th,
  #playlistTable td {
    border-bottom: 1px solid #ccc; /* Dashed lines for table rows */
    text-align: center;
    padding-left: 16px; /* Increase left padding */
    padding-right: 62px; /* Increase right padding */
    padding-top: 8px;
    padding-bottom: 8px
  }

  /* Ensure the container of the table (if exists) also spans full width */
.container-of-playlist-table { /* Replace with actual container selector */
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #playlistView button, #header button, #addButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: cyan;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playlistView button:hover, #header button:hover, #addButton {
    background-color: #0EBFE9; /* Darker shade of cyan for hover effect */
}
  
  #playlistView a {
    color: white; /* Set the font color to white */
    text-decoration: none; /* Removes underline */
  }
  
  #playlistView a:visited {
    color: white; /* Ensures visited links are also white */
  }

  #playlistView a:hover {
    text-decoration: underline; /* Adds underline on hover */
  }

  /* Clear Playlist button */
  #clearPlaylistButton {
    position: absolute;
    right: 10px;
    top: 10px; /* Adjust as needed */
  }
  
  /* Footer styles */
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* Footer styling */
footer {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.sort-icon {
    cursor: pointer;
}